<!-- <nav class="light-blue">
	<div class="nav-wrapper">
		<a href="#" class="brand-logo">Logo</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li *ngIf="!activeSession"><a routerLink="seguridad/inicio-sesion">Inicio Sesion</a></li>
			<li *ngIf="activeSession"><a routerLink="seguridad/cerrar-sesion">Cerrar Sesion</a></li>
		</ul>
	</div>
</nav> -->

<ul id="slide-out" class="sidenav">
	<ul>
		<ul class="collapsible">
			<li>
				<div class=" collapsible-header"><i class="material-icons">cloud_done</i>Parametrizacion</div>
				<div class="collapsible-body">
					<span>
			<li *ngIf="activeSession"><a routerLink="parametros/listar-modalidad">Modalidad</a></li>
			<li *ngIf="activeSession"><a routerLink="parametros/listar-tipoVinculacion">Tipo Vinculacion</a>
			</li>
			<li *ngIf="activeSession"><a routerLink="parametros/listar-tiposComite">Tipos Comite</a></li>
			<li *ngIf="activeSession"><a routerLink="parametros/listar-areaInvestigacion">Area de
					Investigacion</a>
			</li>
			<li *ngIf="activeSession"><a routerLink="parametros/listar-facultad">Facultad</a></li>
			<li *ngIf="activeSession"><a routerLink="parametros/listar-jurado">Jurado</a></li>
			<li *ngIf="activeSession"><a routerLink="parametros/listar-departamento">Departamento</a></li>
			<li *ngIf="activeSession"><a routerLink="parametros/listar-tipoSolicitud">Tipo Solicitud</a></li>
			<li *ngIf="activeSession"><a routerLink="parametros/listar-correoNotificacion">Correo
					Notificacion</a>
			</li>
			</span>
			</div>
			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">assignment</i>Solicitud</div>
				<div class="collapsible-body">
					<span>
			<li *ngIf="activeSession">
				<a routerLink="solicitudes/listar-solicitud">Solicitud</a>
			</li>
			<li *ngIf="activeSession">
				<a routerLink="solicitudes/listar-invitacion">EvaluacionSolicitud</a>
			</li>
			<li *ngIf="activeSession">
				<a routerLink="solicitudes/listar-recordatorio">Recordatorio</a>
			</li>

			</span>
			</div>
			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">person</i>Proponentes</div>
				<div class="collapsible-body">
					<span>
			<li *ngIf="activeSession">
				<a routerLink="proponentes/listar-proponente">Proponentes</a>
			</li>

			</span>
			</div>
			</li>

		</ul>
	</ul>
</ul>
<div class="nav teal">
	<nav class="light-blue">
		<div class="nav-wrapper">
			<div class="nav-item">
				<div *ngIf="activeSession">
					<a routerLink="home" class="brand-logo">Inicio</a>
				</div>
				<ul *ngIf="activeSession">
					<a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i
							class="material-icons">menu</i></a>
				</ul>
			</div>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li *ngIf="!activeSession"><a routerLink="seguridad/inicio-sesion">Inicio Sesion</a></li>
				<li *ngIf="activeSession"><a routerLink="seguridad/cerrar-sesion">Cerrar Sesion</a></li>
			</ul>
		</div>
	</nav>
</div>